body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
    background: #ecf0f1;
}

.barra{
    width: 100%;
    height: 100px;
    background: #a80303;
    display: flex;
    justify-content: space-between;
}

.contenido{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    background: white;
    position: relative;
    padding: 10px;
}
.titulo{
    font-family: Verdana;
    text-align: center;
    color: white;
    font-size:  2.5em;
}
.clases{
    margin-left: 20%;
}
.materia{
    border-radius: 100%;
    margin: 15px;
    padding: 50px;
    background: #a80303;
    border-style: solid;
    position: relative;
}
.materiaa{
    border-radius: 100%;
    margin: 15px;
    padding: 60px;
    background: #e1cc4f;
    border-style: solid;
    position: relative;
}
.materiaaa{
    border-radius: 100%;
    margin: 15px;
    padding: 80px;
    background: #CEC204;
    border-style: solid;
    position: relative;
}
.Guar{
    font-size: 1.5em;
    background: #CEC204;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.Guar:hover{
    background: #1975b8;
}
.entrada{
    width: 80%;
    height: 30px;
    margin:2em;
    margin-right: 100px;
    border: 1px silver solid;
    border-radius: 5px;

}
.tabla{
    padding: 10px;
    border: 3px black solid;
}
.entrada-grd{
    margin: 15px;
    width: 92%;
    height: 150px;
    border: 1px silver solid;
    border-radius: 2px;
}
a{
    text-decoration: none;
    color: white;
}
.img-mas{
    width: 20px;
    position: relative;
    margin-left: 5px;
}