body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
    background: darkgray;
}
.contenido{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    background: white;
    position: relative;
    padding: 10px;
}
.btn-ent{
    width: 100px;
    height: 40px;
    background: #0099ff;
    border: none;
    border-radius: 7px;
    color: white;
}
.btn-ent:hover{
    background: #115b8d;
}
.btn-comen{
    width: 100px;
    height: 30px;
    color: white;
    background: rgb(30, 172, 12);
    border: none;
    border-radius: 8px;

}
.btn-comen:hover{
    background: #1d9187;
}
.in-comen{
    width: 70%;
    height: 30px;  
    border: #665f5f;
}