*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

body{
	background: #ecf0f1;
	font-family: sans-serif;
	padding-top: 330px;
	transition: padding-top 0.5s ease;
}

header{
	width: 100%;
	height: 250px;
	background: #e88300;
	text-align: center;
	position: fixed;
	top: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

header h1{
	font-size: 42px;
	color: white;
	line-height: 230px;
	font-weight: 300;
	transition: all 0.2s ease;
}

header h1 i{
	font-weight: bold;
	text-transform: uppercase;
}

header nav{
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: rgba(232,63,0,0.8);
}

header nav a{
	color: white;
	margin: 14px;
	display: inline-block;
	padding: 10px 15px;
	line-height: 1;
	text-decoration:none;
	border-radius: 5px;
	font-size: x-large; 
}

header nav a:hover{
	background: rgba(0,0,0,0.2);
}

h2{
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 2;
	color: #2c3e50;
}

p{
	margin-bottom: 1rem;
	line-height: 2;
	color: #7f8c8d;
}

.wrapper{
	max-height: 800px;
	margin:0 auto;
}

section{
	margin: 70px;
	padding: 20px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

body.sticky-header{
	padding-top: 100px;
}

body.sticky-header header{
	height: 60px;
	background: #e88300;
}
body.sticky-header header h1{
	transform: scale(0,0);
}

.Contacto{
	background: black !important;
	margin-bottom: 5%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btnenviar{
	padding: 15px;
	margin: 10px;
	display: inline-block;
	background: #008BD0;
	color: white;
	border-radius: 5px;
}

.btnenviar:hover{
	background: #005BD0;
}

.txtinpu{
	margin: 10px;
	width: 500px;
	height: 30px;
	border-radius: 5px;
	font-size: 1.2em;
}

.BoxContac{
	width: 100px;
	margin-right: 10px;
}

.txtin{
	margin: 10px;
	width: 500px;
	border-radius: 5px;
	font-size: 1.2em;
}