body{
	margin: 0;
	padding: 0;
	background: #F7EFEF;
	font-family: verdana; 
}
section{
	background: #1DA7EF;
	width: 90%;
	max-width: 800px;
	height: 90%;
	border-radius: 8px;
	margin: 40px auto;
	padding: 30px;
}

header{
	font-size: 2em;
	margin: 40px auto;
	color: #FFFFFF;
}

.input100{
	margin: 30px auto;
	width: 100%;
	height: 30px;
	background: rgba(0,0,0,0.1);
	border: none;
	color: #FFFFFF;
	font-size: 1.5em;
	text-decoration: none;
	padding: 5px;
}

.btn{
	padding: 15px;
	margin: 50px auto;
	font-size: 1.5em;
	border-radius: 20px;
	color: #FFFFFF; 
	background: #35EF27;
	border: none;
	
}