body{
    padding: 0;
    margin: 0;
    font-family: Verdana;
    background:#ecf0f1;
}
.principal{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 8px;
    background: white;
    position: relative;
    padding: 10px;
}
.opciones{
    width: 98%;
    height: 50px;
    padding: 10px;
    background: rgba(232,63,0,0.8);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.opciones a:hover{
    background: rgba(232,63,0,10);
    padding-top: 5px;
    border-radius: 5px;
}

.opcionescheck{
    color: #ece8e8;
    font-size: large;
    text-decoration: none;
}
.inicio{
    color: #554e4e;
    font-size: large;
    text-decoration: none;
}
.asignacion{
    width: 120px;
    height: 120px;
    background-image: url("/E_LEARNING/images/carpeta.png");
    font-size: 1em;
    text-decoration: #ece8e8;
    color: black;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.asignacion:hover{
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.materia{
    font-size: 4em;
    font-family: arial;
}
