body{
    background: #AFEEEE;
    padding: 0;
    margin: 0;
    font-family: arial;
}

.Inicio{
    width: 100%;
    height: 90px;
    background: #08A93E;
    display: flex;
    color: black;
    padding: 5px;
}

.primform label{
    font-size: 150%;
    color: #00BFFF;
}

.recucontra{
    color: #082DA9;
}

.Nombresitio{
    font-family: serif;
    color:#00BFFF;
    font-size: 340%;
    margin-right: 14%;
}

.Registro{
    width: 29%;
    height: 90%;
    margin-top: 40px;
    margin-left: 60%;
}

.Registro input{
    border-radius: 5px;
    height: 20px;
    padding: 10px;
}

.txt-lleno{
    width: 100%;
}

.txt-medio{
    width: 100%;
    margin: 3%;
}

.btn-registro{
    width: 100%;
    height: 40px;
    background: #66AE7D;
    border: #1ABA4D;
    color: #FFFFFF;
    font-family: Candara;
    font-size: 30px;;
}

.img-principal{
    width: 500px;
    height: 500px;
    margin: 2px;
    position: absolute;
    top: 120px;
    left: 30px
}